td{
  width: 30px;
  height: 30px;
  text-align: center;
}
table{
  border: 1px solid black;
}


tr:nth-child(odd)  td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
  background-color: #a9a9a9;
}
